body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1b1b1b;
  color: white;
}

.nav-btn {
  padding: 10px 18px;
  background: #6a00ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.nav-btn:hover {
  background: #8c3dff;
}

.input {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #6a00ff;
  color: white;
  border: none;
  border-radius: 6px;
}

.submit-btn:hover {
  background: #8c3dff;
}
